@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow($color) {
  box-shadow: 1px 1px 3px $color;
}

@mixin text-shadow($color) {
  text-shadow: 0 0 0.2em $color;
}
