$white-primary: #f0efeb;
$white-secondary:#f8f9fa;
$white-warning:#f8edeb;
$white-text: white;

$green-primary: #d8e2dc;
$green-secondary:#e8e8e4;

$orange-primary:#ffd7ba;

$pink-primary: #fec5bb;
$pink-secondary: #fcd5ce;
$pink-warning:  #fae1dd;

$red-primary: #f94144;

$grey-primary: grey;
$grey-secondary: #cccccc;
$grey-warning: #495057;

$black-primary: black;
