<!DOCTYPE html>
<head>
  <%- include('../template/head') %>
</head>
<html>
  <%- include('../template/navbar') %>
  <main>
    <div class="articleList__wrapper">
      <div class="title">關於我</div>
      <div class="about__wrapper">
        <div class="block"></div>
        <p class="about__me">在繁重的日子裡，細細品味生活<br>好好吃飯、好好睡覺、好好享受風景</p>
      </div>
    </div>
  </main>
  <%- include('../template/footer') %>
</html>